*{
  overflow-x: hidden;

}

.wrapper {
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
}
.header {
  align-self: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #000;
  height: 70px;
}
.header-left {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 25px;
  font-weight: 600;
  margin-left: 10px;
}
.header-left .img {
  aspect-ratio: 0.98;
  object-fit: contain;
  object-position: center;
  width: 50px;
}
.header-right {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  font-size: 20px;
  font-weight: 400;
  margin: auto 15px;
}
.div-4 {
  flex-grow: 1;
  margin: auto 0;
}
.hamburger {
  display: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
/* MEDIA QUERIES */
@media (max-width:624px)
{ 
    .hamburger{
      height: 45px;
      width: 45px;
      margin-top: 15px;
      margin-right: 15px;
      display: block;
    }
    .header-right {
      display: none;
    }
}
.anch{
  color:#000000;
  text-decoration: none;
}
/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
} */
.container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  background-color: rgb(147, 241, 241);
  border-radius: 35px;
  /* box-shadow: 10px 10px rgb(210, 205, 205); */
  /* box-shadow: 2px 2px 2px 2px gray; */
  box-shadow: 4 0 0 2px white, 0.3em 0.3em 1em rgba(65, 65, 65, 0.6);
  margin-bottom: rem;
  margin-top: 1rem;
}
.rightbox p {
  text-align: justify;
}
.leftbox1 p {
  text-align: justify;
}
.leftbox img {
  height: 100%;
  width: 100%;
  padding: 20px;
}
.rightbox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 1rem;
  margin-left: 2rem;
}
.container1 {
      width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    background-color: rgb(240, 246, 246);
    border-radius: 35px;
    /* box-shadow: 10px 10px rgb(210, 205, 205); */
    /* box-shadow: 2px 2px 2px 2px gray; */
    box-shadow: 4 0 0 2px white, 0.3em 0.3em 1em rgba(65, 65, 65, 0.6);
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.rightbox1 img {
  height: 100%;
  width: 100%;
  padding: 20px;
}
.leftbox1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 20px;
}
.mainfooter {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    font-family: Montserrat, sans-serif;
  }
  .footer {
    margin-top: 30px;
    display: flex;
  }
  .map-text {
    line-height: normal;
  }
  .map-pict {
    margin-left: 40px;
    margin-top: 20px;
  }
  .map {
    width: 33%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 29px;
  }
  .feedback {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin-top: 50px;
    padding: 0 20px;
  }
  .feedback-head {
    color: #000;
    text-align: center;
    align-self: center;
    white-space: nowrap;
    font: 700 35px Montserrat, sans-serif;
  }
  .fed-left {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 15px;
  }
  .fed-right {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 15px;
    width: 100%;
  }
  .fed-main {
    display: flex;
    gap: 15px;
    margin-top: 9%;
  }
  .Name {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-weight: 700;
    padding: 10px 30px;
  }
  .Name-inp {
    font-size: 16px;
    font-weight: 400;
    align-items: start;
    padding: 8px 20px;
    color: black;
    &::placeholder {
      color: black;
    }
  }
  .div-73 {
    align-items: start;
    color: black;
    padding: 8px 20px 150px;
    font-size: 16px;
    font-weight: 400;
    &::placeholder {
      color: black;
    }
  }
  .contact {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px 39px;
  }
  .div-78 {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    gap: 20px;
  }
  .div-79 {
    align-self: end;
    display: flex;
    margin-top: 56px;
    flex-direction: column;
    align-items: center;
  }
  .img-16 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 40px;
  }
  .img-17 {
    aspect-ratio: 1.28;
    object-fit: auto;
    object-position: center;
    width: 40px;
    margin-top: 115px;
  }
  .div-80 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    font-size: 23px;
    color: #000;
    font-weight: 700;
  }
  .div-81 {
    align-self: start;
    margin-left: 30px;
    white-space: nowrap;
    font: 700 35px Montserrat, sans-serif;
  }
  .div-82 {
    font-family: Inter, sans-serif;
    margin-top: 28px;
  }
  .div-83 {
    font-family: Montserrat, sans-serif;
    margin-top: 24px;
  }
  .div-84 {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    gap: 20px;
    font-size: 23px;
    color: #000;
    font-weight: 700;
  }
  .img-18 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 40px;
    margin-top: 10px;
    height: 40px;
  }
  .div-85 {
    font-family: Inter, sans-serif;
    align-self: start;
    margin-top: 17px;
    flex-grow: 1;
    flex-basis: auto;
  }
  
  .socialimg {
    width: 50px;
  }
  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .social-div {
    display: flex;
    gap: 10px;
  }
  .copyright {
    font-weight: 700;
    font-size: 20px;
  }
  .div-4 {
    display: flex;
    align-items: center;
  }
  .mainitem{
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    align-content:space-around ;
  }
  /* Default styles */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.map,
.feedback,
.contact {
  flex: 1;
  margin: 10px;
}

/* Media query for tablets (768px) */
@media (max-width: 1000px) {
  .map,
  .feedback,
  .contact ,
  .collaboration{
    align-self: center;
    flex-shrink: inherit;
    font-size: 14px;
    font-weight: 100;
    flex-basis: 100%; /* Adjust as needed */
  }
  
}